Import  libraries and dependencies and settings

In [38]:
import warnings
warnings.filterwarnings('ignore') #supress warning in python

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_colwidth = 100
%matplotlib inline

In [23]:
import nltk
import re

Corpus Sample

In [20]:
corpus_sample=['I would say football is my favourite sport.',
               'The dog next door kept barking all night.',
               'Billy turned on a radio to get the sports news.',
               'His job requires him to travel frequently.',
               'She excels at sport.',
               'We can expect rainy weather tomorrow.',
               'My wife works in a travel agency.',
               'Korean food is generally very spicy.',
               'We cannot exist without food or water.',
               'The weather is unpredictable around here.'
               ]
labels=['sport','animal','sport','travel','sport','weather','travel','food','food','weather']

corpus_array=np.array(corpus_sample)
corpus_df = pd.DataFrame({'Document': corpus_sample, 
                          'Category': labels})
corpus_df = corpus_df[['Document', 'Category']]
corpus_df

                                          Document Category
0      I would say football is my favourite sport.    sport
1        The dog next door kept barking all night.   animal
2  Billy turned on a radio to get the sports news.    sport
3       His job requires him to travel frequently.   travel
4                             She excels at sport.    sport
5            We can expect rainy weather tomorrow.  weather
6                My wife works in a travel agency.   travel
7             Korean food is generally very spicy.     food
8           We cannot exist without food or water.     food
9        The weather is unpredictable around here.  weather

Corpus Pre_Processing

In [25]:
nltk.download('stopwords')
word_per_text=nltk.WordPunctTokenizer()
#Removing stop words with NLTK in Python(such as “the”, “a”, “an”, “in”)
stop_words = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [35]:
def norm_doc(Document):
  Document = re.sub(r'[^a-zA-Z\s]', '', Document, re.I|re.A)#convert to lower case and remove special characters\whitespaces
  Document= Document.lower()
  Document= Document.strip()
  Tokens = word_per_text.tokenize(Document) # Tokenize the Document
  filtered_tokens = [token for token in Tokens if token not in stop_words]
  Document=' '.join(filtered_tokens)# re-create document from filtered tokens
  return Document

In [41]:
normalize_corpus = np.vectorize(norm_doc)
normalize_corpus = normalize_corpus(corpus_sample)
normalize_corpus

array(['would say football favourite sport',
       'dog next door kept barking night',
       'billy turned radio get sports news',
       'job requires travel frequently', 'excels sport',
       'expect rainy weather tomorrow', 'wife works travel agency',
       'korean food generally spicy', 'cannot exist without food water',
       'weather unpredictable around'], dtype='<U34')

Bag Of Words Model

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

In [63]:
#Get Features in Sparse Format
Count_Vectorizer=CountVectorizer(min_df=0., max_df=1.)
#Fit and transform
CV_BOW= Count_Vectorizer.fit_transform(normalize_corpus)
CV_BOW

<10x39 sparse matrix of type '<class 'numpy.int64'>'
	with 43 stored elements in Compressed Sparse Row format>

In [48]:
print(CV_BOW)

  (0, 38)	1
  (0, 25)	1
  (0, 12)	1
  (0, 10)	1
  (0, 27)	1
  (1, 5)	1
  (1, 20)	1
  (1, 6)	1
  (1, 17)	1
  (1, 2)	1
  (1, 21)	1
  (2, 3)	1
  (2, 31)	1
  (2, 22)	1
  (2, 15)	1
  (2, 28)	1
  (2, 19)	1
  (3, 16)	1
  (3, 24)	1
  (3, 30)	1
  (3, 13)	1
  (4, 27)	1
  (4, 7)	1
  (5, 9)	1
  (5, 23)	1
  (5, 34)	1
  (5, 29)	1
  (6, 30)	1
  (6, 35)	1
  (6, 37)	1
  (6, 0)	1
  (7, 18)	1
  (7, 11)	1
  (7, 14)	1
  (7, 26)	1
  (8, 11)	1
  (8, 4)	1
  (8, 8)	1
  (8, 36)	1
  (8, 33)	1
  (9, 34)	1
  (9, 32)	1
  (9, 1)	1

In [49]:
CV_BOW = CV_BOW.toarray() # Convert to an array
CV_BOW

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0]])

In [51]:
#Create DataFrame
pd.DataFrame(CV_BOW, columns=Count_Vectorizer.get_feature_names())

,agency,around,barking,billy,cannot,dog,door,excels,exist,expect,...,tomorrow,travel,turned,unpredictable,water,weather,wife,without,works,would
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
9,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0

Bag of N-Grams Model

In [54]:
Bag_of_N_grams = CountVectorizer(ngram_range=(2,2))#set the n-gram range
#fit and transform
Bag_of_N_grams_matrix=Bag_of_N_grams.fit_transform(normalize_corpus)
#Convert to array
Bag_of_N_grams_matrix = Bag_of_N_grams_matrix.toarray()
#Create DataFrame
pd.DataFrame(Bag_of_N_grams_matrix,columns=Bag_of_N_grams.get_feature_names())

,barking night,billy turned,cannot exist,dog next,door kept,excels sport,exist without,expect rainy,favourite sport,food generally,...,travel agency,travel frequently,turned radio,unpredictable around,weather tomorrow,weather unpredictable,wife works,without food,works travel,would say
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
7,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0

TF-IDF Model

In [55]:
from sklearn.feature_extraction.text import TfidfTransformer

In [64]:
#Compute the IDF values
TD_IDF= TfidfTransformer(norm='l2', use_idf=True, smooth_idf=True)
#fit and transform
TDIDF_matrix = TD_IDF.fit_transform(CV_BOW)
#to array
TDIDF_matrix=TDIDF_matrix.toarray()
#Create DataFrame
features=Count_Vectorizer.get_feature_names()

In [66]:
pd.DataFrame(np.round(TDIDF_matrix, 2), columns=features)

,agency,around,barking,billy,cannot,dog,door,excels,exist,expect,...,tomorrow,travel,turned,unpredictable,water,weather,wife,without,works,would
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.46
1,0.00,0.00,0.41,0.00,0.00,0.41,0.41,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0.00,0.00,0.00,0.41,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.41,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.44,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.76,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.52,...,0.52,0.00,0.00,0.00,0.00,0.44,0.00,0.00,0.00,0.00
6,0.52,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.44,0.00,0.00,0.00,0.00,0.52,0.00,0.52,0.00
7,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,0.00,0.00,0.00,0.00,0.46,0.00,0.00,0.00,0.46,0.00,...,0.00,0.00,0.00,0.00,0.46,0.00,0.00,0.46,0.00,0.00
9,0.00,0.61,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.61,0.00,0.52,0.00,0.00,0.00,0.00

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [73]:
#Compute the IDF values
TD_IDF_V= TfidfVectorizer(min_df=0.,max_df=1.,norm='l2', use_idf=True, smooth_idf=True)

In [77]:
#Fit and transform
TDIDF_V_matrix = TD_IDF_V.fit_transform(normalize_corpus)
#to array
TDIDF_V_matrix=TDIDF_V_matrix.toarray()
#Create DataFrame
features_V=Count_Vectorizer.get_feature_names()
pd.DataFrame(np.round(TDIDF_V_matrix, 2), columns=features_V)

,agency,around,barking,billy,cannot,dog,door,excels,exist,expect,...,tomorrow,travel,turned,unpredictable,water,weather,wife,without,works,would
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.46
1,0.00,0.00,0.41,0.00,0.00,0.41,0.41,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0.00,0.00,0.00,0.41,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.41,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.44,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.76,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.52,...,0.52,0.00,0.00,0.00,0.00,0.44,0.00,0.00,0.00,0.00
6,0.52,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.44,0.00,0.00,0.00,0.00,0.52,0.00,0.52,0.00
7,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,0.00,0.00,0.00,0.00,0.46,0.00,0.00,0.00,0.46,0.00,...,0.00,0.00,0.00,0.00,0.46,0.00,0.00,0.46,0.00,0.00
9,0.00,0.61,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.61,0.00,0.52,0.00,0.00,0.00,0.00